@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using WCPFrontEnd.Components.Shared
@using WCPFrontEnd.Services
@using WCPShared.Interfaces
@using WCPShared.Models.Entities
@using WCPShared.Models.Entities.UserModels
@using WCPShared.Models.Enums
@using WCPShared.Services
@inject StripeService StripeService
@inject IJSRuntime jsRuntime
@inject IWcpDbContext Context
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Policy="IsNotSubscribed">
    <Authorized>
        <MudText>Tilpas dit abonnement</MudText>

        <SubscriptionPicker @bind-Value="Subscription" />

        @if (string.IsNullOrEmpty(CheckoutUrl))
        {
            <MudStack AlignItems="AlignItems.Center">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Checkout">Køb abonnement</MudButton>
                <MudText Typo="Typo.caption">Tryk <u><a href="https://webcontent.dk/priser" target="_blank">her</a></u> for at se vores priser</MudText>
            </MudStack>
        }
        else
        {
            <MudStack AlignItems="AlignItems.Center" Spacing="0">
                <MudText>Du vil nu blive viderstillet til vores Stripe onboarding...</MudText>
                <MudText>Hvis ikke kan du trykke <a href="@CheckoutUrl" target="_blank"><u>her</u></a> for at gå til siden manuelt</MudText>
            </MudStack>
        }
    </Authorized>
    <NotAuthorized>
        @if (Customer is not null && Customer.Organization is not null && Customer.Organization.Subscription is not null)
        {
            <MudPaper Class="pa-4 mud-secondary">
                <MudStack Spacing="0">
                    <MudText><strong>@Customer.Organization.Subscription.Type</strong></MudText>
                </MudStack>

                <MudStack Row>
                    <MudStack Spacing="0" AlignItems="AlignItems.Center">
                        <MudText>Antal videoer</MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.PlayArrow" />
                            <MudText Typo="Typo.h6">@Customer.Organization.Subscription.NumberOfVideos</MudText>
                        </MudStack>
                    </MudStack>

                    <MudStack Spacing="0" AlignItems="AlignItems.Center">
                        <MudText>Antal brands</MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.BusinessCenter" />
                            <MudText Typo="Typo.h6">@Customer.Organization.Subscription.NumberOfBrands</MudText>
                        </MudStack>
                    </MudStack>

                    <MudStack Spacing="0" AlignItems="AlignItems.Center">
                        <MudText>Antal brugere</MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.People" />
                            <MudText Typo="Typo.h6">@Customer.Organization.Subscription.NumberOfUsers</MudText>
                        </MudStack>
                    </MudStack>
                </MudStack>
            </MudPaper>

            @* List of subscriptions *@
            @* @foreach (var sub in StripeSubscriptions)
            {
                @if (sub.CancelAtPeriodEnd)
                {
                    <MudPaper Class="pa-4 mt-2 mud-primary">
                        <MudText Class="text-white">Abonnementet er opsagt og udløber @(sub.CurrentPeriodEnd.ToString("dd-MM-yyyy")) - Klik <strong>her</strong> for at genoptage</MudText>
                    </MudPaper>
                }
                else
                {
                    <MudPaper Class="pa-4 mt-2 mud-secondary">
                        <MudText>Næste betaling @(sub.CurrentPeriodEnd.ToString("dd-MM-yyyy"))</MudText>
                    </MudPaper>
                }
            }

            @if (StripeSubscriptions.All(x => !x.CancelAtPeriodEnd)) 
            {
                <MudButton StartIcon="@Icons.Material.Filled.Cancel" Class="mt-2" Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => StripeService.CancelAllSusbcriptions(Customer.Organization.StripeAccountId))">
                    Opsig abonnement
                </MudButton>
            } *@

            @* Single subscription *@
            @if (StripeSubscription is not null) 
            {
                <MudPaper Class="pa-4 mud-secondary mt-2">
                    <MudText><strong>Ordrelinjer</strong></MudText>

                     @foreach (var item in StripeSubscription.Items.Data) 
                     {
                        <MudStack Spacing="0">
                            <MudText><strong>@(item.Quantity)x</strong> @item.Price.Product.Name - <strong>@($"{(item.Price.UnitAmount * item.Quantity / 100.0):F2}") @item.Price.Currency.ToUpper()</strong></MudText>
                        </MudStack>
                     }
                </MudPaper>

                @if (StripeSubscription.CancelAtPeriodEnd)
                {
                    <MudPaper Class="pa-4 mt-2 mud-primary">
                        <MudText Class="text-white">Abonnementet er opsagt og udløber @(StripeSubscription.CurrentPeriodEnd.ToString("dd-MM-yyyy")) @* - Klik <strong>her</strong> for at genoptage *@</MudText>
                    </MudPaper>
                }
                else
                {
                    <MudPaper Class="pa-4 mt-2 mud-secondary">
                        <MudText>Næste betaling @(StripeSubscription.CurrentPeriodEnd.ToString("dd-MM-yyyy"))</MudText>
                    </MudPaper>

                    <MudButton StartIcon="@Icons.Material.Filled.Cancel" Class="mt-2" Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => StripeService.CancelSubscriptionAtEndOfBillingCycle(Customer.Organization.Subscription.StripeSubscriptionId))">
                        Opsig abonnement
                    </MudButton>
                }
            }
            else 
            {
                <MudProgressCircular Class="mt-2" Color="Color.Primary" Indeterminate />
            }
        }
        else
        {
            <MudPaper Class="pa-4 mud-secondary">
                <MudText>Det ser ikke ud til at vi kan finde dit abonnement...</MudText>
            </MudPaper>
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public Subscription Subscription { get; set; }

    [Parameter]
    public User Customer { get; set; }

    private string CheckoutUrl = string.Empty;
    private List<Stripe.Subscription> StripeSubscriptions = [];
    private Stripe.Subscription StripeSubscription;

    protected override async Task OnInitializedAsync()
    {
        if (Customer.Organization.Subscription.Type != SubscriptionType.None) 
            Subscription = StripeService.GetSubscriptionInfo(Customer.Organization.Subscription.Type);
        else Subscription = StripeService.GetSubscriptionInfo(SubscriptionType.Medium);
        StripeSubscriptions = await StripeService.GetAllSubscriptions(Customer.Organization.StripeAccountId);
        StripeSubscription = await StripeService.GetSubscription(Customer.Organization.Subscription.StripeSubscriptionId);
    }

    private async Task Checkout() 
    {
        Customer.Organization.Subscription = Subscription;
        await Context.SaveChangesAsync();
        
        var lineItems = StripeService.GenerateLineItems(Subscription);
        var checkout = StripeService.StartCheckoutSession(lineItems, "subscription", customerEmail: Customer.Email);
        CheckoutUrl = checkout.Url;

        await jsRuntime.InvokeVoidAsync("open", CheckoutUrl);
    }
}