@using WCPAdminFrontEnd.Services
@using WCPShared.Models.Views

<MudStack Class="bg-gray-950 p-4 rounded-lg">
    <MudStack Row="true" Spacing="2" @onclick="() => OnExpandCollapseClick()">
        @if (!String.IsNullOrEmpty(Creator.ImgURL))
        {
            <MudImage Src="@Creator.ImgURL" Class="max-h-12 rounded-full" Alt="Creator profile pic"></MudImage>
        }
        <MudStack Spacing="0">
            <MudText Class="font-semibold">@Creator.User.Name</MudText>

            <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center"> 
                @if (Creator.DateOfBirth is not null)
                {
                    <MudText>@ProjectHelper.CalculateAge(Creator.DateOfBirth.Value) år</MudText>
                }
                @if (Creator.Gender is not null && Creator.Gender.ToLower() == "kvinde")
                {
                    <MudText>/</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Female" Size="Size.Small"></MudIcon>
                }
                else if (Creator.Gender is not null)
                {
                    <MudText>/</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Male" Size="Size.Small"></MudIcon>
                }
            </MudStack>
        </MudStack>

        <MudSpacer></MudSpacer>

        @if (Addable)
        {
            <div class="flex justify-center items-center">
                <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Success" OnClick="() => AddCreator.InvokeAsync(Creator)"></MudIconButton>
            </div>
        }
    </MudStack>

    <MudDivider />

    <MudCollapse Expanded="_expanded">
        <MudStack Row="true">
            <div>
                @if (!String.IsNullOrEmpty(Creator.User.Name))
                {
                    <MudStack Row="true" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon>
                        <MudText>@Creator.User.Name</MudText>
                    </MudStack>
                }
                
                @if (Creator.DateOfBirth is not null)
                {
                    <MudStack Row="true" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.Cake"></MudIcon>
                        <MudText>@Creator.DateOfBirth.Value.ToString("d") (@ProjectHelper.CalculateAge(Creator.DateOfBirth.Value) år)</MudText>
                    </MudStack>
                }

                @if (!String.IsNullOrEmpty(Creator.Gender))
                {
                    <MudStack Row="true" Spacing="1">
                        @if (Creator.Gender is not null && Creator.Gender.ToLower() == "kvinde")
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Female"></MudIcon>
                        }
                        else if (Creator.Gender is not null)
                        {
                            <MudIcon Icon="@Icons.Material.Filled.Male"></MudIcon>
                        }
                        <MudText>@Creator.Gender</MudText>
                    </MudStack>
                }
                
                @if (!String.IsNullOrEmpty(Creator.User.Email))
                {
                    <MudStack Row="true" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.Email"></MudIcon>
                        <MudText>@Creator.User.Email</MudText>
                    </MudStack>
                }
                
                @if (!String.IsNullOrEmpty(Creator.Address))
                {
                    <MudStack Row="true" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.House"></MudIcon>
                        <MudText>@Creator.Address</MudText>
                    </MudStack>
                }

                @if (!String.IsNullOrEmpty(Creator.User.Phone))
                {
                    <MudStack Row="true" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.Phone"></MudIcon>
                        <MudText>@Creator.User.Phone</MudText>
                    </MudStack>
                }

                @if (Creator.Languages is not null)
                {
                    <div class="flex gap-1 items-center">
                        <MudIcon Icon="@Icons.Material.Filled.Language"></MudIcon>
                        <MudStack Row="true" Spacing="1">
                            @foreach (string lang in Creator.Languages)
                            {
                                <MudText Typo="Typo.h6">
                                    @ProjectHelper.CountryStringToFlag(lang)
                                </MudText>
                            }
                        </MudStack>
                    </div>
                    
                }

            </div>
            <MudSpacer />

            @if (Editable)
            {
                <div class="flex justify-center items-center">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => RemoveCreator.InvokeAsync(Creator)"></MudIconButton>
                </div>
            }
        </MudStack>
    </MudCollapse>
</MudStack>

@code {
    [Parameter]
    public CreatorView Creator { get; set; }

    [Parameter]
    public EventCallback<CreatorView> RemoveCreator { get; set; }
    
    [Parameter]
    public EventCallback<CreatorView> AddCreator { get; set; }

    [Parameter]
    public bool Editable { get; set; }
    
    [Parameter]
    public bool Addable { get; set; }

    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
}