@page "/projects/{ProjectId:int}"

@using Microsoft.EntityFrameworkCore
@using WCPAdminFrontEnd.Services
@using WCPFrontEnd.Components.Pages.ProjectPages.FileSystem
@using WCPFrontEnd.Services
@using WCPShared.Interfaces
@using WCPShared.Models.Entities.ProjectModels
@using WCPShared.Models.Entities
@using WCPShared.Models.Entities.ProjectModels.Concepts
@using WCPShared.Models.Enums
@inject ProjectService ProjectService
@inject IWcpDbContext Context
@attribute [Authorize]

@if (Project is not null) 
{
    <MudStack Row>
        <MudStack Spacing="0">
            <MudText Typo="Typo.h6">Projekt #@Project.Id</MudText>
            <MudText Class="text-gray-500">Administrér dit projekt herfra</MudText>
        </MudStack>
        <MudSpacer />

        <AuthorizeView Roles="Admin">
            <MudMenu Icon="@Icons.Material.Filled.MoreHoriz" AnchorOrigin="Origin.BottomRight">
                <MudMenuItem Icon="@Icons.Material.Filled.Edit">Redigér projekt</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.ChangeCircle">Skift status</MudMenuItem>
                <MudMenuItem IconColor="Color.Error" Icon="@Icons.Material.Filled.Delete">Annuller projekt</MudMenuItem>
            </MudMenu>
        </AuthorizeView>
    </MudStack>

    <MudStack Row Class="mt-4" Spacing="3">
        <MudStack Class="grow" Spacing="3">
            <MudPaper Class="border-[1px] border-border" Elevation="0">
                <div class="bg-neutral-50 rounded-t">
                    <MudText Class="pa-4">Grund detajler</MudText>
                    <MudDivider Class="border-border" />
                </div>

                <MudGrid Class="pa-4">
                    <MudItem Class="" xs="4">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Brand</MudText>
                            <MudText>@Project.Brand.Name</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem Class="" xs="4">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Projektnavn</MudText>
                            <MudText>@Project.Name</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem Class="" xs="4">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Type</MudText>
                            <MudText>@Project.Type</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem Class="" xs="4">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Oprettet</MudText>
                            <MudText>@Project.Created.ToString("d")</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem Class="" xs="4">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Status</MudText>
                            <MudText>@Project.Status</MudText>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudPaper Class="border-[1px] border-border" Elevation="0">
                <div class="bg-neutral-50 rounded-t">
                    <MudText Class="pa-4">Projekt detajler</MudText>
                    <MudDivider Class="border-border" />
                </div>

                <MudGrid Class="pa-4">
                    <MudItem Class="" xs="6">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Pris</MudText>
                            <MudText>@(Project.Price != 0 ? $"{Project.Price} kr" : "Ingen pris endnu")</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem Class="" xs="6">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Deadline</MudText>
                            <MudText>@Project.Deadline.ToString("d")</MudText>
                        </MudStack>
                    </MudItem>

                    <MudItem Class="" xs="6">
                        <MudStack Spacing="0">
                            <MudText Class="text-gray-500">Koncepter</MudText>
                            <MudText>@Project.Concepts.Count() stk (@Project.Concepts.Sum(x => x.Amount) videoer)</MudText>
                        </MudStack>
                    </MudItem>

                    @if (Project.Type == ProjectType.UGC || Project.Type == ProjectType.Photos)
                    {
                        <MudItem Class="" xs="6">
                            <MudStack Spacing="0">
                                <MudText Class="text-gray-500">Creators</MudText>
                                <MudAvatarGroup Max="5" Spacing="3">
                                    @foreach (var participation in Project.Participations)
                                    {
                                        <div class="flex flex-col justify-center items-center">
                                            <MudAvatar Color="Color.Primary">
                                                @if (!string.IsNullOrEmpty(participation.Creator.ImgURL))
                                                {
                                                    <MudImage Src="@participation.Creator.ImgURL" />
                                                }
                                                else
                                                {
                                                    @participation.Creator.User.Name.First()
                                                }
                                            </MudAvatar>
                                        </div>
                                    }

                                    @if (Project.Participations.Count == 0)
                                    {
                                        <MudText Class="p-2 cursor-pointer">-</MudText>
                                    }
                                </MudAvatarGroup>
                            </MudStack>
                        </MudItem>
                    }

                </MudGrid>
            </MudPaper>

            <MudPaper Class="border-[1px] border-border" Elevation="0">
                <div class="bg-neutral-50 rounded-t">
                    <MudText Class="pa-4">Koncepter</MudText>
                    <MudDivider Class="border-gray-300" />
                </div>

                <MudGrid Class="pa-4">
                    @foreach (var concept in Project.Concepts)
                    {
                        <MudItem Class="" xs="6">
                            <MudPaper Class="border-[1px] border-border" Elevation="0">
                                <div class="rounded-t">
                                    <MudStack Row Justify="Justify.Center">
                                        <MudText Class="pa-4">@concept.Product.Name</MudText>
                                        <MudSpacer />
                                        <MudText Class="pa-4" Color="Color.Info">Detaljer</MudText>
                                    </MudStack>

                                    <MudDivider Class="border-border" />
                                </div>

                                <MudGrid Class="pa-4">
                                    <MudItem xs="6">
                                        <MudStack Spacing="0">
                                            <MudText Class="text-gray-500">Antal</MudText>
                                            <MudText>@concept.Amount videoer</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6">
                                        <MudStack Spacing="0">
                                            <MudText Class="text-gray-500">Platforme</MudText>
                                            <MudText>@concept.Platforms</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudStack Spacing="0">
                                            <MudText Class="text-gray-500">Formater</MudText>
                                            <MudText>@String.Join(", ", concept.Formats)</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>
        </MudStack>

        <AuthorizeView Roles="Creator">
            <MudStack Spacing="3">
                <MudPaper Class="border-[1px] border-border pa-4" Elevation="0">
                    <MudStack>
                        <MudText Typo="Typo.h6">Tid til aflevering</MudText>
                        <MudStack Row AlignItems="AlignItems.Center">
                            <MudStack Spacing="0" AlignItems="AlignItems.Center">
                                <MudText><span class="font-semibold">16</span></MudText>
                                <MudText Class="text-gray-500">Dage</MudText>
                            </MudStack>

                            <div class="h-[20px] mx-2 border-l-[2px] border-border"></div>

                            <MudStack Spacing="0" AlignItems="AlignItems.Center">
                                <MudText><span class="font-semibold">13</span></MudText>
                                <MudText Class="text-gray-500">Timer</MudText>
                            </MudStack>

                            <div class="h-[20px] mx-2 border-l-[2px] border-border"></div>

                            <MudStack Spacing="0" AlignItems="AlignItems.Center">
                                <MudText><span class="font-semibold">22</span></MudText>
                                <MudText Class="text-gray-500">Minutter</MudText>
                            </MudStack>

                            <div class="h-[20px] mx-2 border-l-[2px] border-gray-300"></div>

                            <MudStack Spacing="0" AlignItems="AlignItems.Center">
                                <MudText><span class="font-semibold">20</span></MudText>
                                <MudText Class="text-gray-500">Sekunder</MudText>
                            </MudStack>

                        </MudStack>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="rounded-lg" EndIcon="@Icons.Material.Filled.ArrowOutward">Aflever nu</MudButton>
                    </MudStack>
                </MudPaper>

                @if (Project.Type == ProjectType.UGC || Project.Type == ProjectType.Photos)
                {
                    <MudPaper Class="border-[1px] border-border pa-4" Elevation="0">
                        <MudStack>
                            <MudText Typo="Typo.h6">Afleveringer</MudText>

                            <MudStack Spacing="0">
                                <MudText Class="text-gray-500">Dine afleveringer</MudText>
                                <MudText>@Project.Concepts.Sum(x => (x as CreatorConcept).CreativesPerCreator) videoer</MudText>
                            </MudStack>


                        </MudStack>
                    </MudPaper>
                }


            </MudStack>
        </AuthorizeView>
    </MudStack>
    
    <MudText Class="mt-3">Projekt filer</MudText>
    <MudPaper Class="pa-4 mt-2">
        <ProjectFileBar Project="Project" />
    </MudPaper>
}
else 
{
    <MudProgressCircular Indeterminate Color="Color.Primary" />
}

@code {
    [Parameter]
    public int ProjectId { get; set; }

    public Project? Project { get; set; }
    private List<Brand> Brands = [];

    private bool _editable = false;
    private DateTime? _deliveryDate = DateTime.Now;
    private DateTime? _createdDate = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        Project = await Context.Projects
            .Include(x => x.Concepts)
            .ThenInclude(x => x.Product)
            .Include(x => x.Brand)
            .ThenInclude(x => x.Organization)
            .ThenInclude(x => x.Language)
            .Include(x => x.Participations)
            .ThenInclude(x => x.Creator)
            .ThenInclude(x => x.User)
            .SingleOrDefaultAsync(x => x.Id == ProjectId);
        _deliveryDate = Project.Deadline;
        _createdDate = Project.Created;
        Brands = await Context.Brands
            .Include(x => x.Organization)
            .ThenInclude(x => x.Language)
            .ToListAsync();
    }

    private async Task Submit()
    {
        if (_deliveryDate != DateTime.MinValue)
            Project.Deadline = _deliveryDate!.Value.AddHours(23).AddMinutes(59).AddSeconds(59);

        if (_createdDate != DateTime.MinValue)
            Project.Created = _createdDate!.Value;

        await ProjectService.UpdateObject(Project.Id, Project);
    }

    private void ToggleEditable()
    {
        _editable = !_editable;
    }
}
